*.html
*.png
*.pkl
*.zip.*
*.pyc
*.pdf
/austin_research/clustering_results
/austin_research/figures
/austin_research/GOOD_clean_figures
/austin_research/pickle_storage
/austin_research/FINAL_figure_files/pickle_storage/
/austin_research/signature_weights
/austin_research/threshold_figures
/older_research_graveyard/1_newer_backup/*.pickle
/older_research_graveyard/2_newest_backup/*.pickle
/austin_research/logs/
/austin_research/FINAL_figure_files/pickle_storage/breakdown_self_repair/*.pickle
austin_research/FINAL_figure_files/pickle_storage/breakdown_self_repair/pythia-160m_condensed_ablated_direct_effects
austin_research/FINAL_figure_files/pickle_storage/breakdown_self_repair/pythia-160m_condensed_direct_effects
austin_research/FINAL_figure_files/pickle_storage/breakdown_self_repair/pythia-160m_condensed_logit_diff
austin_research/FINAL_figure_files/pickle_storage/breakdown_self_repair/pythia-160m_condensed_self_repair_from_heads
austin_research/FINAL_figure_files/pickle_storage/breakdown_self_repair/pythia-160m_condensed_self_repair_from_layers
austin_research/FINAL_figure_files/pickle_storage/breakdown_self_repair/pythia-160m_condensed_self_repair_from_LN
austin_research/FINAL_figure_files/constants.py
austin_research/FINAL_figure_files/repeat_call_breakdown.py
austin_research/FINAL_figure_files/repeat_call_graph.py
austin_research/FINAL_figure_files/repeat_call_mlp_sparsity.py
