*.html
*.png
*.pkl
*.zip.*
*.pyc
*.pdf
/austin_research/clustering_results
/austin_research/figures
/austin_research/GOOD_clean_figures
/austin_research/pickle_storage
/austin_research/signature_weights
/austin_research/threshold_figures
/older_research_graveyard/1_newer_backup/*.pickle
/older_research_graveyard/2_newest_backup/*.pickle
/austin_research/logs/